/* 1. Global Styles 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
    font-family: 'Montserrat', sans-serif;
    background: #E6E6E6 !important;
    color: #777;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}


/* 1.3 Spacer 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.spacer-0,
.spacer-1,
.spacer-2,
.spacer-3,
.spacer-4,
.spacer-5,
.spacer-10,
.spacer-20,
.spacer-30,
.spacer-40,
.spacer-50,
.spacer-60,
.spacer-70,
.spacer-80,
.spacer-90,
.spacer-100 {
    display: block;
    clear: both;
    overflow: hidden;
}
.spacer-1 {
    height: 0;
}
.spacer-1 {
    height: 1px
}
.spacer-2 {
    height: 2px
}
.spacer-3 {
    height: 3px
}
.spacer-4 {
    height: 4px
}
.spacer-5 {
    height: 5px
}
.spacer-10 {
    height: 10px
}

.spacer-20 {
    height: 20px
}

.spacer-30 {
    height: 30px
}

.spacer-40 {
    height: 40px
}

.spacer-50 {
    height: 50px
}

.spacer-60 {
    height: 60px
}

.spacer-70 {
    height: 70px
}

.spacer-80 {
    height: 80px
}

.spacer-90 {
    height: 90px
}

.spacer-100 {
    height: 100px
}

/* 1.3 Form Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button.btn-primary, #error-404 a {
    background: #27435A !important;
    transition: 0.4s ease all;
    border-radius: 0;
    height: 42px;
}

button.btn-primary:hover {
    background: #023956 !important;
}
.form-control {
    height: 42px !important;
    font-size: 12px;
    border: 1px solid #d1d7da;
    border-radius: 0 !important;
}
.form-control::-webkit-input-placeholder {
    color: #989b9c;
}
.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #989b9c;
}
.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #989b9c;
}
.form-control:-ms-input-placeholder {
    color: #989b9c;
}
select.form-control option {
    color: #333;
}
select.form-control {
    color: #989b9c;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    background: url('../images/drop.jpg') no-repeat top right;
}


/* 2. Custom color
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.custom-blue {
    background-color: #023956 !important;
}
.custom-light-blue {
    background-color: #27435A !important;
}

.flexslider .slides .promoted-caption a {
    background-color: #27435A !important;
    border-radius: 0 !important;
}

.navbar-default {
    background-color: #27435A !important; 
}



/* 2. Top Header Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header {}

.header-wrapper {
    width: 100%;
    overflow: hidden;
    max-height: 50px; 
}
#header-social ul {
    list-style: none;
    float: left;
}
#header-social ul li {
    color: #27435A; 
    width: 30px;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    background-color: #27435A;
    margin: 10px 5px 15px 5px;
}
#header-social ul li a i {
    color: rgba(255, 255, 255, 0.4);
}
#header-social ul li:hover {
    background-color: #6091BA;
}
#header-social ul li a i:hover {
    color: #FFFFFF;
}
#language-switcher {
    float: right;
    margin: 15px 5px 15px 5px;
}
#language-switcher a, .fa {
  color: #F7F7F7;
}

/* 4. Middle Header Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#header-main {
    min-height: 80px;
    padding: 20px;
}
.header-information {
  display: block;
  float: right;
  margin: 0 0 0 50px;
  white-space: nowrap; 
}
@media (max-width: 767px) {
    .header-information {
        display: none; 
    } 
}
@media (min-width: 993px) and (max-width: 1191px) {
    .header-information {
        display: none; 
    } 
}
.header-information .fa {
    color: #27435A;
    font-size: 3.4em;
    margin: 0px 20px 0 0; 
}
.header-information span, .header-information strong {
    display: block;
    white-space: nowrap; 
}
.header-information strong {
    font-size: 1.25em;
    font-weight: 600; 
}
.header-information span {
    color: #666666;
    font-size: .9em;
    margin: 3px 0 0 0; 
}
.header-information-block {
    display: inline-block; 
}


/* 3. Main nav section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main-nav {
  background: #6091ba;
}
.main-nav button {
  background: #27435a;
  color: #fff !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.main-nav button:focus {
  outline: none;
}
.main-nav button .icon-bar {
  background-color: #fff;
}
.main-nav .navbar-collapse {
  padding: 0;
}
.main-nav .nav .nav-item {
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'open sans', arial, sans-serif;
  z-index: 100;
}
.main-nav .nav .nav-item.dropdown {
  z-index: 101;
}
.main-nav .nav .nav-item a {
  color: #dce7f0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.main-nav .nav .nav-item a:hover {
  background: #023956;
  color: #FFFFFF;
}
.main-nav .nav .nav-item.active {
  position: relative;
}
.main-nav .nav .nav-item.active > a {
  background: #023956;
  color: #fff;
}
.main-nav .nav .nav-item.active > a:before {
  content: "\f0d8";
  position: absolute;
  bottom: -8px;
  left: 0;
  text-align: center;
  font-family: FontAwesome;
  display: block;
  font-size: 12px;
  width: 100%;
}
.main-nav .nav .nav-item.active > a.dropdown-toggle:before {
  display: none;
}
.main-nav .nav .nav-item.open a {
  background: #023956;
  color: #fff;
}
.main-nav .nav .nav-item .dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0;
  border: none;
  padding: 0;
  text-transform: none;
  min-width: 220px;
}
.main-nav .nav .nav-item .dropdown-menu a {
  border-bottom: 1px solid #3e6a8f;
  padding: 8px 20px;
}
.main-nav .nav .nav-item .dropdown-menu a:hover {
  background: #3e6a8f;
  /*color: #EF7351;*/
  color: #ff;
  padding-left: 24px;
}
.main-nav .nav .nav-item .dropdown-submenu {
  position: relative;
}
.main-nav .nav .nav-item .dropdown-submenu .fa {
  position: absolute;
  right: 15px;
  top: 10px;
}
.main-nav .nav .nav-item .dropdown-submenu li {
  position: relative;
}
.main-nav .nav .nav-item .dropdown-submenu li .fa {
  position: absolute;
  right: 15px;
  top: 10px;
}
.main-nav .nav .nav-item .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  margin-left: -1px;
}

/* 4. Search Slider Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
section#search-slider {
    position: relative;
    z-index: 11;
}

/* 4. Search Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#white-form-background {
  background: #fff;
  padding: 25px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  max-height: 450px;
}
#search-form label {
  font-weight: normal;
  color: #1f2223;
  font-size: 13px;
}
#search-form h4 {
    text-transform: uppercase;
}
@media (max-width: 985px) {
    #search-form {
      min-height: 500px;
    }
}
@media (max-width: 994px) {
    #white-form-background {
      min-height: 510px;
    }  
}

/* 4. Slider Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#owl-slider {
    /*min-height: 760px !important;*/
}

.owl-theme .owl-controls .owl-buttons div {
  background: none;
}

.owl-theme .owl-controls .owl-buttons div.owl-prev {
  position: absolute;
  left: 0;
  bottom: 5px;
}
.owl-theme .owl-controls .owl-buttons div.owl-next {
  position: absolute;
  left: 35px;
  bottom: 5px;
}

.owl-carousel div #textoverlay {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #FFF;
  padding: 15px;
  background: rgba(0, 0, 0, 0.85);
}

.owl-carousel div #textoverlay h3 {
  color: #27435A;
}

/* 4. Service Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#service {
  margin: 0 auto;
  overflow: auto;
  padding: 20px 0px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.10);
  background: #FFFFFF none repeat scroll 0% 0%;
}

#service .fa {
  color: #777777;
}

#service-title, .circle_icon {
  color: #777;
  display: inline-block;
  width: 66px;
  border-radius: 50%;
  background: #EBEEF0 none repeat scroll 0% 0%;
  line-height: 66px;
  text-align: center;
  font-size: 24px;
}

#service-description h3 {
  color: #777;
}

#service-description p {
  font-size: small
}

/* 4. Property listing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#property-display h3, #single-search-slider h3, #property-attribute-agent-detial h3, #login h3, #register h3, #faq h3, #service-page h3, #about-us h3, .sidebar-block h3 {
  font-family: Proxima Nova Light,Helvetica,Arial;
  color: #27435A;
  font-size: 16px;
  padding-bottom: 7px;
  border-bottom: 1px solid #27435A;
  display: inline-block;
  text-transform: uppercase;
  /*overflow: auto;*/
}

#divider {
  background-color: #D7D7D7;
  max-width: 100%;
  height: 2px;
  margin-top: -12px;
  margin-bottom: 30px;
}

#property-item, #agent-list {
  background-color:white;
  box-shadow: 0px 1px 3px #d4d4d4;
  margin-bottom: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  padding:9px; 
  padding-bottom: 0;
}
#property-divider {
  height: 1px;
  max-width: 100%;
  margin-bottom: 10px;
  background-color: #D7D7D7;
}
#property-purpose {
  font-family: Proxima Nova Semi-bold;
  font-size: 15px;
  background-color: #d5d5d5;
  color: white;
  padding: 4px 9px 4px 9px;
  border-radius: 4px;
  display: inline-block;
}
#property-price {
  color: #023956;
  font-size: 23px;
  font-family: Proxima Nova Semi-bold;
}

#property-item .panel.panel-default, #agent-list .panel.panel-default {
    position: relative;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}

#property-item .panel-body, #agent-list .panel-body {
  padding-bottom: 1px !important;
}

.panel-image {
    position: relative;
    border-bottom: 2px solid transparent;
}

a.btn.btn_trans {
    font-size: 13px;
    color: #fff;
    min-width: 110px;
    background: transparent;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 0;
    line-height: 40px;
    padding: 0 15px;
}

.img_hov_eff {
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease;
    visibility: hidden;
}

.img_hov_eff a.btn.btn_trans {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
}

.img_hov_eff a {
    color: #fff;
    text-decoration: none;
}

section#property-display .panel.panel-default:hover .img_hov_eff, section#agents .panel.panel-default:hover .img_hov_eff {
    opacity: 1;
    visibility: visible;
}

section#property-display .panel.panel-default:hover a.btn.btn_trans, section#agents .panel.panel-default:hover a.btn.btn_trans {
    top: 50%;
}

.prop_feat p {
    font-size: 12px;
    float: left;
    margin-left: 2px;
    color: #777;
    margin-bottom: 0;
}
#property-display  .agent {
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  background-color: #fff;
  margin-bottom: 15px !important;
  padding: 10px 15px;
  /*min-height: 200px;*/
}
#property-display  .agent img {
  width: 70px;
}

.property-type {
  position: absolute;
  font-family: Proxima Nova Semi-bold;
  font-size: 12px;
  background-color: #27435A;
  color: white !important;
  padding: 7px;
  z-index: 1;
}


/* 4. Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer-top .container {
    background: url('../images/map.png') no-repeat center center;
    padding: 80px 15px;
    position: relative;
    background-size: cover;
}
.footer-top {
    background-color: #161e22;
}
.footer-copy-right {
    background: #101619;
}
.footer-top h2 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 0 0 30px 0;
}
.footer-top p {
  color: rgba(255, 255, 255, 0.6);
  font-size: .95em;
}
.footer-top .social .fa {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all .15s linear;
  width: 40px;
}
.footer-top .social a {
  margin: 0 10px 0 0;
}
.footer-top .social .fa:hover {
  color: #fff; 
  background-color: #023956;
}

.footer-top .form-control {
  background-color: rgba(255, 255, 255, 0.08);
  border: 0;
  color: #fff;
  transition: background-color .15s linear;
}

.footer-wrapper .btn, .footer-wrapper .pricing-btn {
  font-size: 14px;
}
.footer-top .form-group {
  margin: 0; 
}
.footer-top .form-control:active, .footer-top .form-control:focus {
  background-color: rgba(255, 255, 255, 0.12); 
}
.footer-top p {
  color: rgba(255, 255, 255, 0.6);
  font-size: .95em;
  font-size: 1.05em;
  line-height: 26px;
  margin: 20px 0 20px 0;
}

.footer-copy-right {
  line-height: 80px;
  color: #7c7c7c;
  font-size: 12px;
  margin-bottom: 0;
}


/* 4. Breadcrumb
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.page-banner {
    background: #fff url("../images/shadow.png") no-repeat scroll center top;
    padding: 30px 0;
}
.page-banner h2 {
    font-weight: 500;
    text-transform: uppercase;
}
ul.breadcrumbs li:first-child::before {
    content: "";
    margin: 0;
}
ul.breadcrumbs li::before {
    color: #bbb;
    content: "/";
    margin: 0 5px 0 5px;
}
ul.breadcrumbs li a {
    color: #666;
    font-weight: 600;
    transition: all 0.2s ease-in-out 0s;
}
ul.breadcrumbs li a:hover{
    text-decoration: underline;
}
ul.breadcrumbs li {
    color: #999;
    display: inline; 
}


/* 4. Property Single
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.nav-tabs .nav-link {
  border: 0;
  border-radius: 0;
  color: #323232;
  display: block;
  font-weight: 600;
  line-height: 51px;
  padding: 0;
  transition: all .15s linear;
  white-space: nowrap;
  text-transform: uppercase;
}
.nav-tabs .nav-link {
  display: block;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 0.25rem 0.25rem 0 0;
}
.nav-link {
  display: inline-block;
}
.nav-tabs .nav-link.active {
  background-color: rgba(0, 0, 0, 0.05) !important;
}
.nav-tabs .nav-item {
  display: table-cell;
  float: none;
  text-align: center;
}
#property-attributes .nav-item {
  width: 500px;
  height: 10px !important;
  background: #EFEFEE;
}
#property-attribute {
  background: #FFF;
  padding: 15px 15px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}
#property-attribute h5 {
  font-weight: bold;
}
#property-amenities .glyphicon {
  color: #27435A;
}
.listing-detail h2, .post-detail h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  font-size: 1.5em;
  margin: 0 0 30px 0;
  padding: 20px 0 20px 0;
}
#post-review {
  background: #FFF;
  padding: 15px;
  overflow: auto;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}
.post-review-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  padding-bottom: 10px; 
}
.post-review-header span {
  color: #27435A;
  font-weight: bold;
}
.post-review-header .post-author {
  float: left;
}
.post-review-header .post-date-reply {
  float: right;
  padding: 5px;
  background: #F7F7F7;
}
#post-review .post-review-body {
  padding-top: 20px;
}

#property-map .property-single-map #map-canvas {
  height: 350px;
  width: 100%;
}

.amenities {
  list-style: none;
}

.amenities li {
  margin-bottom: 15px;
}

.amenities li.yes:before {
  color: #27435A;
  content: '\f00c';
  font-family: 'FontAwesome';
}
.amenities li:before {
  display: inline-block;
  width: 24px;
}
.amenities li.no:before {
  color: #DEDEDE;
  content: '\f00d';
  font-family: 'FontAwesome';
}


/* 4. Login Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.remember-me {
  margin-bottom: 20px !important;
}
.forgot-password a {
  color: #27435A
}
.forgot-password .fa {
  color: #27435A
}


/* 4. 404 Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h2.lrg_titl {
  font-size: 160px;
  text-shadow: -2px 4px 0px #023956;
  margin: 0 0 50px;
  color: #27435A;
}

h3.sub_titl {
  color: #27435A;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
}
#error-404 p.description {
  font-size: 11px;
  color: #949494;
  text-transform: uppercase;
  line-height: 1.909;
  margin: 0;
}


/* 4. Agent Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#agents #agent .agent-feature .social-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#agents #agent .agent-feature .social-links li {
  display: inline-block;
}
#agents #agent .agent-feature .social-links li a {
  width: 36px;
  line-height: 34px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #d1d7da;
  font-size: 12px;
  color: #7A7676 !important;
  margin-right: 5px;
}
#agents #agent .agent-feature .social-links li a .fa {
  color: #777;
}
#agents #agent .agent-feature .social-links li a:hover {
  background: #6091BA;
  color: #91C9DD;
}
#agents #agent .agent-feature .social-links li a i:hover {
    color: #FFFFFF;
}

#agent {
  padding: 5px;
  background: #fff;
  box-shadow: 0px 1px 3px #d4d4d4;
  margin-bottom: 15px;
}
#agent .agent-image img {
  /*margin-left: -15px;*/
  /*width: 100%;*/
}
#agent .agent-feature {
  margin-left: -15px;
}
#agent .agent-feature .agent-name, #agent .agent-feature .no-of-property-uploaded {
  font-weight: bold;
}
#more-detials #agent .agent-feature {
  margin-top: 18px;
}

#agent .agent-feature .fa, .agent .media-body .agent-feature .fa {
  color: #27435A;
}
.agent-feature span {
  margin-bottom: 20px;
}

/* 4. Agent index page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.agent .media-body .phone .fa {
  color: #27435A;
}

.agent .media-body .email a {
  color: #7B7779;
}

/* 4. Contact Us
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#contact-us .contact-us-map {
  height: 255px;
  background: #FFF;
}
#contact-us .contact-us-map #map-canvas {
  height: 255px;
  width: 100%;
}
#contact-us .contact-info .contact-info-description {
  height: 70px;
  background: #fff;
  line-height: 70px;
  text-transform: none;
}
#contact-us .contact-info .contact-info-description .contact-info-icon {
  color: #fff;
  width: 70px;
  float: left;
  display: block;
  font-size: 3em;
  line-height: 70px;
  margin-right: 15px;
  background: #27435A;
}
#contact-us .contact-info .contact-info-description .contact-info-detial {
  line-height: 1.6em;
  padding: 14px 15px 0 0;
}

#contact-us .contact-info .contact-info-description .contact-info-detial small {
  text-transform: uppercase;
}


#contact-us .email-us {
  background: #FFF;
  min-height: 290px;
  padding: 15px;
}

#contact-us .email-us h3 {
  margin-right: 15px !important;
}


#contact-us .email-us label {
  font-size: 0.8333em;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 0.9167em;
}

#contact-us .email-us textarea, #post-review textarea, .enquire textarea {
  height: 130px !important;
  padding-top: 10px;
}


/* 4. Index with map
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.index-search-form #map-canvas {
  min-height: 450px;
  width: 100%;  
}

#horizontal-index-search-form {
  margin-top: -70px;
  position: relative;
  z-index: 11;
}  
.fullslider-index-page {
  margin-top: 0;
}
.horizontal-search-form {
  margin: 0 auto;
  overflow: auto;
  padding: 20px 0px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  background: #FFFFFF none repeat scroll 0% 0%;
  overflow: auto;
}

.horizontal-search-form-button {
  border-radius: 0;
  height: 42px;
  font-size: 13px;
  font-weight: bold;
  padding: 0 20px;
  background: #ef7351;
  border: 0;
  text-transform: uppercase;
  margin-top: 25px;
}


/* 4. Index with fullwidth slider
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#flexslider .flexslider .slides img {
  max-height: 450px;
  width: 100%;  
}
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 0;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  /*border-radius: 4px;*/
  -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}

.flexslider .slides .promoted-caption {
  /*bottom: 40px;*/
  bottom: 10%;
  left: 25%;
  position: absolute;
  text-align: left;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media (max-width: 1200px) {
  .flexslider .slides .promoted-caption {
    bottom: 10%;
    left: 30%;
  }
  .flexslider .slides .promoted-caption h1 {
    font-size: 25px;
  }
  .flexslider .slides .promoted-caption h2 {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .flexslider .slides .promoted-caption {
    bottom: 10%;
    left: 36%;
  }
  .flexslider .slides .promoted-caption h1 {
    font-size: 15px;
  }
  .flexslider .slides .promoted-caption h2 {
    font-size: 7px;
  }
}
@media (max-width: 620px) {
  .flexslider .slides .promoted-caption h1 {
    font-size: 8px;
  }
  .flexslider .slides .promoted-caption h2 {
    font-size: 5px;
  }
}
@media (max-width: 484px) {
  .flexslider .slides .promoted-caption h1 {
    font-size: 5px;
  }
  .flexslider .slides .promoted-caption h2 {
    font-size: 2px;
  }
}
.flexslider .slides .promoted-caption h1 {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.flexslider .slides .promoted-caption h2 {
  color: #fff;
  font-size: 30px;
  margin: 0px 0px 20px 0px;
  font-weight: bold;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}

/* 4. FAQ 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.faq-item:before {
  background-color: #27435A;
  border-radius: 3px;
  color: #fff;
  content: 'Q';
  display: block;
  font-size: 1.25em;
  font-weight: 600;
  height: 40px;
  left: -60px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 40px;
}

.faq-item {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  margin: 0px 0px 30px 60px;
  padding: 16px;
  position: relative;
}

.faq-item .faq-item-question h2 {
  margin-top: -10px;
}

.about-us-info, .our-service, .little-about-us, .counter-box, .vision-mission, .testim_box {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  padding: 16px;
  position: relative;
  overflow: hidden;
}

.little-about-us h1 {
  font-family: Proxima Nova Light;
  font-size: 32px;
}

.little-about-us .btn {
  background: #27435A !important;
  transition: 0.4s ease all;
  border-radius: 0;
  height: 42px;
  margin-top: 30px;
}
.little-about-us-info {
  margin-top: -20px;
}
.our-fact .circle_icon {
}
h2.fun_num {
  font-size: 20px;
  color: #27435A;
  text-transform: uppercase;
  line-height: 1;
  margin: 5px 0 5px 0;
}
p.desc {
  font-size: 11px;
  color: #949494;
  text-transform: uppercase;
  line-height: 1.909;
  margin: 0;
}





.partners1 {
  background: #f7f7f7;
  padding: 62px 0 53px 0;
  margin-top:52px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}
.partners1 .item {
  margin:0 15px 0 15px;
}
.owl-carousel .owl-item img {
  display: block;
  width: auto;
  -webkit-transform-style: preserve-3d;
}





/*------------------------------------------------*/
/*-----------[Services Style 1]-------*/
/*------------------------------------------------*/
.flip-effect {
    position: relative;
    background-color: #ffffff;
    padding: 30px;
}
.flip-effect:hover{
    background: #f9f9f9;
}
.flip-effect .flip-text-block {
    content: "";
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
}
.flip-effect:hover .flip-text-block .text-box {
    opacity: 0;
    transform: rotateY(-180deg);
}

.text-box i {
     border: 3px double #3baafe;
    border-radius: 50%;
    color: #3baafe;
    font-size: 25px;
    padding: 15px;
}
.flip-effect .flip-text-block .text-box {
    max-width: 100%;
    opacity: 1;
    transform: rotateY(0deg);
    transition: all 0.4s ease-in-out 0s;
   -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
}

.flip-effect:hover .flip-text-block .text-box-sec {
    opacity: 1;
    transform: rotateY(0deg);
}
.flip-effect .flip-text-block .text-box-sec {
    left: -1px;
    max-width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: rotateY(-180deg);
    transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
}

/*------------------------------------------------*/
/*-----------------[Services Style 2]------------------------*/
/*------------------------------------------------*/
.feature-box .feature-box-icon {
    float: left;
    font-size: 40px;
    color: #3baafe ;
}
.feature-box {
    margin-bottom: 30px;
}
.feature-box-info {
    margin-left: 60px;
}
.feature-box-info h4 {
    font-size: 15px;
    text-transform: uppercase;
}
/*------------------------------------------------*/
/*-------------[Services Style 3]----------------*/
/*------------------------------------------------*/

.what-we-do .content-block {
    margin-bottom: 48px;
}
.what-we-do .content-block .title-block {
    margin-bottom: 14px;
}
.what-we-do .content-block .title-block .icon-block {
    display: inline-block;
    width: 49px;
    height: 49px;
    line-height: 49px;
    background: #333333;
    border-radius: 50%;
    font-size: 17.5px;
    color: #ffffff;
    text-align: center;
    transition: .3s;
}
.what-we-do .content-block .title-block .icon-block > i {
    position: relative;
    top: 2.5px;
}
.what-we-do .content-block .title-block h4 {
    display: inline-block;
    padding-left: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
@media (max-width: 580px) {
    .what-we-do .content-block .title-block h4 {
        letter-spacing: 0;
        font-size: 16px;
    }
}
.what-we-do .content-block p {
    margin-bottom: 0;
}
.what-we-do .content-block:hover .icon-block {
    background: #3baafe;
}
/*------------------------------------------------*/
/*-------------[Services Style 4]----------------*/
/*------------------------------------------------*/

.services::after {
    background: rgba(0, 0, 0, 0) url("../img/counter.jpg") no-repeat fixed center center / cover ;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.services {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    position: relative;
}
.services-left i,.services-right i,.services-top i {
    color: #fff;
    font-size: 34px;
    border: 1px dashed #fff;
    width: 100px;
    height: 100px;
    line-height: 2.7em;
    margin-bottom: 10px;
}
.services-left,.services-right,.services-top {
    position: relative;
   margin-top:60px;
}
.services-left h5,.services-right h5,.services-top h5 {
    color: #fff;
    font-size: 20px;
    border: 2px double #fff;
    width: 33px;
    height: 33px;
    line-height: 1.5em;
}
.head_ser {
    padding: 0;
    background: #3baafe;
    position: absolute;
    top: -5%;
    left: 38.7%;
}
.services-left p,.services-right p ,.services-top p{
    margin-top: 35px;
    width: 60%;
    margin: 0 auto;
    color: #fff;
}
.services-top {
    width: 50%;
    margin: 0 auto;
}



#testimonial .testim_box {
  padding: 20px 30px;
  /*background: #fff;*/
  /*margin: 0 15px;*/
}
#testimonial .testim_box blockquote {
  border: 0;
  font-size: 15px;
  color: #777;
  font-style: italic;
  font-family: Georgia;
  padding: 0 0 0 25px;
  position: relative;
}
#testimonial .testim_box blockquote:before {
  content: open-quote;
  position: absolute;
  top: 0;
  z-index: 111111;
  color: #000;
  font-size: 40px;
  color: #777;
  left: 0;
  line-height: 1;
}
#testimonial .testim_box blockquote:after {
  content: close-quote;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  z-index: 111111;
  color: #000;
  opacity: 0;
}
.auth_sec {
  margin-top: 25px;
  padding-left: 25px;
}
.auth_sec img {
  width: 55px;
  height: 55px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}
h6.auth_nam {
  font-size: 14px;
  color: #0e4f71;
  float: right;
  width: 77%;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 5px 0;
}
span.auth_pos {
  display: block;
  color: #777;
  font-size: 12px;
  text-transform: capitalize;
  padding-top: 5px;
}
.big_title {
  font-size: 21px;
  font-weight: 600;
  line-height: 40px;
  /*margin: 30px 0;*/
  text-transform: uppercase;
}
.big_title small {
  clear: both;
  color: #656565;
  display: block;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.6;
  text-transform: uppercase;
}





.service-count-detial i {
  font-size: 50px;
  color: #000;
  margin-bottom: 10px;
}



.post {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  margin: 0 0 30px 70px;
  position: relative; 
}
.post-date {
  background-color: #fff;
  border-radius: 3px;
  left: -70px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 46px; 
}
.post-date span, .post-date strong {
  display: block; 
}
.post-date strong {
  background-color: #0BB7A5;
  border-radius: 3px 3px 0 0;
  color: #fff;
  font-size: 1.4em;
  font-weight: 600;
  padding: 5px 0; 
}
.post-date span {
  background-color: #4E4A4A;
  border-radius: 0 0 3px 3px;
  color: #fff;
  font-size: .85em;
  padding: 4px 0; 
}
.post-image-block > a {
    display: block;
    position: relative;
}
.blog-dis {
  padding: 15px;
}
.blog-dis .entry-title {
    font-size: 18px;
    margin: 0 0 10px;
    font-family: raleway;
}
.blog-dis .entry-title > a {
    color: #687074;
}
.blog-dis .post-meta {
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 5px;
}
.blog-dis .post-meta a {
  color: #687074;
}
.post-image-block img {
  max-height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.post-read-more {
  margin: 10px 0 0 0; 
}
.post-read-more a {
  float: right;
  font-weight: 600;
  transition: color .15s linear; 
}
.post-read-more a .fa {
  font-size: .7em;
  margin: 0 0 0 10px; 
}
.post-read-more a:hover {
  text-decoration: none; 
}
.blog-dis {
  overflow: hidden;
}
.sidebar-block, .blog-comments .blog-comment, .comment-create {
    background: #fff none repeat scroll 0 0;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);

}
.sidebar-block ul li {
    border-bottom: 1px solid #efefef;
    line-height: 35px;
}
.sidebar-block ul li a {
    display: block;
    transition: all 0.3s ease 0s;
    color: #687074;
}
.sidebar-block ul li a:hover {
    color: #3baafe;
}

.tags {
    position: relative;
}
.tags a {
    background-color: #687074;
    color: #fff;
    display: inline-block;
    margin: 2px;
    padding: 2px 5px;
}
.tags a:hover {
    text-decoration: none;
    background-color: #3baafe;
    color: #fff;
}


.blog-comments .blog-comment ul {
  list-style: none;
}

.blog-comment {
  border-radius: 3px;
}

.comment {
  margin: 0 0 30px 0;
  position: relative; 
}
.comment-author {
  background-color: #DDDDDD;
  border-radius: 50%;
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-color .15s linear;
  width: 50px; 
}
.comment-author a {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  bottom: 2px;
  border-radius: 50%;
  display: block;
  left: 2px;
  position: absolute;
  right: 2px;
  top: 2px; 
}
.comment-author:hover {
  background-color: #0BB7A5; 
}
.comments_title {
  color: #4e4e4e;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 40px;
}
.comment-content {
  background-color: #E6E6E6;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  /*box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.20);*/
  margin-left: 80px;
  padding: 20px; 
}
.comment-meta {
  margin-bottom: 10px;
}
.comment-meta-date {
  float: right;
  font-size: .9em; 
}
.comment-meta-date span {
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  color: gray;
  padding: 4px 8px; 
}
.comment-meta-author {
  float: left; 
}
.comment-meta-author a {
  font-weight: 600; 
}
.comment-meta-author a:hover {
  text-decoration: none; 
}

#blog .posts .post-comment h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  font-size: 1.5em;
  margin: 0 0 30px 0;
  padding: 20px 0 20px 0;
}

#blog .posts .comment-create {
  border-radius: 3px;
  padding: 20px;
  overflow: hidden;
}
#blog .posts .comment-create textarea {
  height: 100px !important;
}
