/** light color */
button.btn-primary, #error-404 a, .custom-light-blue, .flexslider .slides .promoted-caption a, .navbar-default, .main-nav button, .property-type, #contact-us .contact-info .contact-info-description .contact-info-icon, .faq-item:before, .little-about-us .btn {
    background: #0D4D4D !important;
}
#header-social ul li { 
    color: #0D4D4D !important;
    background-color: #0D4D4D;
}
.header-information .fa, .owl-carousel div #textoverlay h3, #property-display h3, #single-search-slider h3, #property-attribute-agent-detial h3, #login h3, #register h3, #faq h3, #property-amenities .glyphicon, .post-review-header span, .amenities li.yes:before, .forgot-password a, .forgot-password .fa, h2.lrg_titl, h3.sub_titl, #agent .agent-feature .fa, .agent .media-body .agent-feature .fa, .agent .media-body .phone .fa, h3.fun_num {
  color: #0D4D4D;
}
#property-display h3, #single-search-slider h3, #property-attribute-agent-detial h3, #login h3, #register h3, #faq h3 {
  border-bottom: 2px solid #0D4D4D;
}

/** deep color */
button.btn-primary:hover, .main-nav .nav .nav-item a:hover, .main-nav .nav .nav-item.active > a, .main-nav .nav .nav-item.open a {
    background: #003333 !important;
}
.custom-blue, .footer-top .social .fa:hover {
    background-color: #003333 !important;
}
#property-price, h2.lrg_titl, .show-all, .show-all .fa , .read-more, .read-more .fa{
  color: #003333 !important;
}
.btn-primary {
  border-color: #003333 !important;
}

.feature-box .feature-box-icon, .what-we-do .content-block:hover .icon-block {
    color: #003333 !important;
}
.head_ser {
    background: #003333 !important;
}
.text-box i {
    border: 3px double #003333;
    color: #003333;
}

.service-count-detial i {
    color: #003333 !important;
}


.post-date strong {
  background-color: #0D4D4D;
}
.tags a:hover {
    text-decoration: none;
    background-color: #0D4D4D;
    color: #fff;
}
.comment-author:hover {
  background-color: #0D4D4D; 
}
.sidebar-block ul li a:hover {
    color: #0D4D4D;
}
.comment-meta-author a {
  color: #0D4D4D;
}


ul.sidebar-menu li a.active i {
  color: #0D4D4D !important;
}
.badge.bg-important {
    background: #0D4D4D !important;
}
.revenue-head {
    background: #0D4D4D !important;
}
.sb-slidebar .side-title {
    color: #0D4D4D !important;
}
ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
    color: #0D4D4D !important;
}
ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #0D4D4D !important;
}

ul.sidebar-menu li a.active i {
    color: #0D4D4D !important;
}
a.logo span {
    color: #0D4D4D !important;
}
.btn-primary, .btn-primary.disabled, .btn-primary[disabled], .btn-primary.disabled.active, .btn-primary.active[disabled] {
  background-color: #0D4D4D !important;
  border-color: #0D4D4D !important;
  color: #FFFFFF;
}
.directory-list li a:hover, .directory-info-row .social-links li a:hover {
    background:#0D4D4D;
    color: #fff;
}
.dropdown-menu.extended.logout > li:last-child {
    background: #0D4D4D;
}
.bio-graph-heading {
  background: #0D4D4D;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #0D4D4D;
  border-color: #0D4D4D;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #0D4D4D;
  border-color: #0D4D4D;
}
.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #0D4D4D;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
